body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

span {
    color: rgb(222, 148, 10);
}

.flex-container {
    display: flex;
    margin-bottom: 10px;
}

.header-width {
    width: 50%;
    padding-left: 5%;
}



.header-width img {
    width: 80%;
}

.header-width a {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    background-image: url(./images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.last-part {
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px black;
    border-radius: 5px;
    border-left: 5px solid rgb(236, 120, 12);

}

.experience {
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 40px;
}

.last-part h3 {
    color: coral;
}

.col {
    border-left: 5px solid rgb(27, 8, 232);
}

footer {
    text-align: center;
    margin-top: 20px;
}